name: Auto Generate IP Lists

on:
  schedule:
    - cron: '0 19 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install requests

      - name: Run Generator Script
        run: |
          python scripts/generate_all.py

      - name: Commit and Push
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # 添加 output 目录下的所有新文件夹和文件
          git add china_ip_list.txt
          
          if git diff --staged --quiet; then
            echo "No changes detected. Skipping commit."
          else
            echo "Changes detected. Committing..."
            # 提交信息强调是分省份的列表
            git commit -m "Auto-update: IP lists by Province & ISP [$(date +'%Y-%m-%d')]"
            git push
          fi
